@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

button, label {
	cursor: pointer;
}

input {
	vertical-align: middle;
}

.wrapper {
	box-sizing: content-box;
    width: auto;
    margin: 0 auto;
    min-width: 290px;
    max-width: 460px;
    padding: 0 4.35%;
}

#join_section {
	margin: 0 auto;
}

#join_input {
	margin-bottom: 20px;
}

#join_input_form {
	display: flex;
	width: 100%;
	flex-direction: column;
	box-sizing: content-box;
}

.join_input_icon_box {
	box-sizing: content-box;
	position: relative;
	float: left;
    display: inline;
    min-width: 44px;
    height: 46px;
    border-right: 1px solid #ccc;
    background-color: #fafafa;
}

.join_input_icon {
	box-sizing: content-box;
    display: inline-block;
    vertical-align: middle;
	background-image: url("//img1a.coupangcdn.com/image/static/login/sprite-join.x1.20160902.png");
	background-size: 86px 86px;
}

.join_input_userInfo_email {
	border: 1px solid #ccc;
	width: 100%;
	margin-top: 3%;
	height: 48px;
}

.join_input_userInfo_pwd {
	border: 1px solid #ccc;
	width: 100%;
	margin-top: 3%;
	height: 48px;
}

.join_input_box {
	overflow: hidden;
    display: inline-block;
    margin: 0;
	width: 350px;
}

.join_input_content {
	box-sizing: content-box;
	line-height: 20px;
	width: 100%;
	border: 0 none;
	padding: 14px 0 12px;
	text-indent: 12px;
	outline: none;
	clear:both;
}

.icon_email {
	position: absolute;
    top: 50%;
    left: 50%;
	width: 1px;
    height: 16px;
	margin: -8px 0 0 -10px;
    padding-left: 19px;
	background-position: -1px -1px;
}

.icon_password {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 20px;
    margin: -10px 0 0 -10px;
    padding-left: 19px;
    background-position: -22px -1px;
}

.member__sprite.member__sprite--show-password {
    background-image: url("//img1a.coupangcdn.com/image/static/login/sprite-member.20171115.svg"),none;
    background-size: 148px 148px;
    display: inline-block;
    overflow: hidden;
    width: 20px;
    vertical-align: middle;
    white-space: nowrap;
    text-indent: 1px;
    height: 20px;
    padding-left: 19px;
    background-position: -106px -1px;
}

.member__sprite.member__sprite--hide-password {
    background-image: url("//img1a.coupangcdn.com/image/static/login/sprite-member.20171115.svg"),none;
    background-size: 148px 148px;
    display: inline-block;
    overflow: hidden;
    width: 20px;
    vertical-align: middle;
    white-space: nowrap;
    text-indent: 1px;
    height: 20px;
    padding-left: 19px;
    background-position: -127px -1px;
}

.member__util-trigger {
	float: right;
    overflow: hidden;
    width: 46px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    font-size: 1px;
    color: transparent;
}

.login__content--util {
    margin: 12px 0 0;
}


.login__content:before, .login__content:after {
    overflow: hidden;
    content: '';
    display: table;
    _display: block;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

.member__checkbox:before, .member__checkbox:after {
    overflow: hidden;
    content: '';
    display: table;
    _display: block;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    clear: both;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px; 
	cursor: pointer;
	margin-right: 10px;
}

.autologin_checkbox {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	float: left;
	flex-wrap: wrap;
}


.login__link--find-id-password {
    float: right;
    position: relative;
    padding-right: 12px;
}

.login__link {
    color: #0073e9;
    font-size: 14px;
    line-height: 24px;
}

.login__content:before, .login__content:after {
    overflow: hidden;
    content: '';
    display: table;
    _display: block;
    width: 100%;
    height: 0;
    margin-top: 10px;
    padding: 0;
    clear: both;
}

#helpMessage {
	text-align: center;
	margin: 30px 0 18px;	
}

#helpMessage p {
	margin: 0px;
}

#footer {
	text-align: center;
	padding: 20px 0 40px;;
}