@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}

ul {
	margin: 0;
	padding: 0;
}

h3 {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

ol {
	list-style: none;
}

#container {
	/* position: relative; */
	background-color: #fff;
    border-bottom: 1px solid #eee;
}

#header_area {
	/* position: relative; */
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
